<nav class="navbar navbar-dark bg-dark sticky-top">
  <a
    class="navbar-brand d-flex align-items-center justify-content-center"
    href="/"
  >
    <img
      src="/assets/doge-logo.png"
      width="50"
      height="50"
      class="d-inline-block align-top mr-2"
      alt=""
      loading="lazy"
    />
    Doge Shortener
  </a>
  <div class="buttons">
    <% if (locals.loggedIn) { %>
    <button id="logout-btn" class="btn primary">Log out</button>
    <% } else { %>
    <a href="/login" class="btn btn-light mr-3" role="button">Log in</a>
    <a href="/signup" class="btn btn-primary" role="button">Sign up</a>
    <% } %>
  </div>
</nav>
