<div class="bg-light border-right" id="sidebar-wrapper">
  <a
    class="sidebar-heading d-flex align-items-center justify-content-center"
    href="/"
  >
    <img
      src="/assets/doge-logo.png"
      width="50"
      height="50"
      class="d-inline-block align-top mr-2"
      alt=""
      loading="lazy"
    />
    Doge Shortener
  </a>
  <div class="list-group list-group-flush">
    <a href="/dashboard" class="list-group-item list-group-item-action bg-light"
      >Dashboard</a
    >
    <a
      href="/dashboard/links"
      class="list-group-item list-group-item-action bg-light"
      >Links</a
    >
    <a
      href="/dashboard/profile"
      class="list-group-item list-group-item-action bg-light"
      >Profile</a
    >
    <a
      href="/dashboard/settings"
      class="list-group-item list-group-item-action bg-light"
      >Settings</a
    >
  </div>
</div>
